<h1>Events</h1>

<%= form_tag('/events', method: :get) do %>
  <div><%= select_tag 'Category', options_for_select(@categories["results"].collect { |c| [c['name'], c['id']] }) %></div>
  <div><%= submit_tag 'Filter' %></div>
<% end %>
 
<table>
  <tr>
    <th>Venue Name</th>
    <th>Venue Date</th>
    <th>Event URL</th>
  </tr>
 
<% @events["results"].each do |event| %>
  <% if event["venue"] %>
  <tr>
    <td><%= event["venue"]["name"] %></td>
    <td><%= Time.at(event["time"]/1000).strftime("%F") %></td>
    <td><%= event["event_url"]%></td>
  </tr>
  <% end %>
<% end %>
</table>